<a href="https://colab.research.google.com/github/Guil2203/true-college-struggles/blob/python/aula_tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[teacher's github](https://github.com/ramonparaiba/Aulas-Logica-de-Programcao-e-Algoritmos/blob/main/Aula_006_Colecoes.ipynb)

In [1]:
#uma tupla é uma coleção ordenada e imutável de elementos em python

tp_frutas = ('maçã', 'banana', 'laranja', 'goiaba')
tp_frutas

('maçã', 'banana', 'laranja', 'goiaba')

In [4]:
#tente inserir algum elemento na tupla
#tente modificar um valor de elemento na tupla
tp_frutas = tp_frutas + ('uva',)
tp_frutas

('maçã', 'banana', 'laranja', 'goiaba', 'uva')

In [5]:
#criando uma lista a partir de uma tupla ou uma tupla a partir de uma lista
lst_frutas = list(tp_frutas)
type(lst_frutas)
lst_frutas

['maçã', 'banana', 'laranja', 'goiaba', 'uva']

In [7]:
#fatiamento (slicing)
tp_meses = ('jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'sep', 'out', 'nov', 'dez')
#se quiser apenas os meses de Junho a Nov
tp_meses[5:11]

('jun', 'jul', 'ago', 'sep', 'out', 'nov')

In [9]:
#usando o processo de fatiamento, crie uma nova tupla apenas
#com o meses do segundo trimestre (abril - jun)
tp_trimes = tp_meses[3:6]
tp_trimes

('abr', 'mai', 'jun')

In [ ]:
#coordenadas geográficas
coord = (-7.11532, -34.861) #joão pessoa

In [ ]:
#dados imutáveis
data_criacao = (2015, 7, 6) #data de criação de um documento

In [10]:
#ordenação de dados *sort(value, key = x)
#ordenar os estados pelo DDD e não pelo nome
uf_cod = [('PE', 81), ('RJ', 21), ('SP', 11), ('PB', 83)]

sorted(uf_cod, key = lambda x :x[1])

[('SP', 11), ('RJ', 21), ('PE', 81), ('PB', 83)]

In [17]:
#coloque a tupla a seguir em ordem
#do mais novo para o mais velho
#do mais velho para o mais novo
nome_nasc = [('Zé', 2003), ('Maria', 1998), ('Alice', 2000)]
sorted(nome_nasc, key = lambda x :x[1], reverse = True) #do mais novo para o mais velho

[('Maria', 1998), ('Alice', 2000), ('Zé', 2003)]

In [18]:
sorted(nome_nasc, key = lambda x :x[1]) #do mais velho para o mais novo

[('Maria', 1998), ('Alice', 2000), ('Zé', 2003)]

In [21]:
#desempacotamento de valores
def nome_idade_uf():
  nome = 'José'
  idade = 28
  uf = 'RN'
  return nome, idade, uf

name, age, uf = nome_idade_uf()

print (name, age, uf)

José 28 RN

In [24]:
#mapeamento de valores
alunos = ('Kelly', 'Adauto', 'Marceline', 'Luana', 'Henrique')
notas = (5.5, 8, 9, 7.5, 6.5)

Av1 = tuple(zip(alunos, notas))
dc_av1 = dict(zip(alunos, notas))

dc_av1

{'Kelly': 5.5, 'Adauto': 8, 'Marceline': 9, 'Luana': 7.5, 'Henrique': 6.5}

In [ ]:
# exercício tuplas
# 1. escreva uma função que receba duas tuplas como entrada e retorne uma única tupla que seja a concatenação das duas
# 2. escreva uma função que receba uma tupla contendo o nome e endereço: logradouro, número e bairro de uma pessoa e retorne uma string formatada
# 3. escreva uma função que receba uma lista de tuplas contendo nome e idade de pessoas e retorne a lista ordenada por idade

In [25]:
def concatenaTupla (tp1, tp2):
  return tp1 + tp2

a = (2, 4, 5)
b = (6, 8, 12)
concatenaTupla(a, b)

(2, 4, 5, 6, 8, 12)

In [27]:
def formatada(tupla):
  nome, logradouro, num, bairro = tupla
  return f'Nome: {nome}, residente a {logradouro}, {num}, {bairro}.'

dadosCliente = ('Manoelina', 'Rua das Couves', '42', 'Torre')

print (formatada(dadosCliente))

Nome: Manoelina, residente a Rua das Couves, 42, Torre.