<a href="https://colab.research.google.com/github/Guil2203/true-college-struggles/blob/main/aula_listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
idade = int(input('Digite a idade do atleta: '))
if(idade < 14):
  print('Infantil')
elif(idade < 18):
  print('')

In [ ]:
#god help me please
num = [12, 14, 69, 17]
len(num)

4

*note to self: check out codechef later ðŸ‘€*

*and green press tea ðŸ‘€*

## ðŸ‘€ðŸ‘€ðŸ‘€ðŸ‘€ðŸ‘€ðŸ‘€ðŸ‘€

In [ ]:
alunos = ["Amanda", "Henrique", "Igor", "Marshall", "Tito"]
alunos[2] = "Tyler"
len(alunos)

5

In [ ]:
alunos.append("Lan")
len(alunos)
alunos
#OH GOD THEY'RE CLONING THEMSELVES

['Amanda',
 'Henrique',
 'Tyler',
 'Marshall',
 'Tito',
 'Lan',
 'Lan',
 'Lan',
 'Lan',
 'Lan',
 'Lan',
 'Lan',
 'Lan',
 'Mir',
 'Lan',
 'Lan',
 'Lan',
 'Lan',
 'Lan',
 'Lan',
 'Lan']

In [ ]:
alunos.append(input("CHOOSE YOUR CHARACTER: "))
alunos

CHOOSE YOUR CHARACTER: Mir

['Amanda',
 'Henrique',
 'Tyler',
 'Marshall',
 'Tito',
 'Lan',
 'Lan',
 'Lan',
 'Lan',
 'Lan',
 'Lan',
 'Lan',
 'Lan',
 'Mir']

In [49]:
critters = ["Hornet", "Elderbug", "Tiso", "Zote"]
living = bool(input("kill zote? 1 to KILL and 0 to not kill: "))
if bool(1):
  del
elif bool(0):
  critters.

if "Zote" in critters:
  print('he is alive')
else:
  print("he is DEAD")

# no matter what i do he dies no matter what
# this is so sad

kill zote? 1 to KILL and 0 to not kill: 0
he is DEAD

In [55]:
# NOW LET'S DO SOMETHING ELSE
numbers = []
for num in range(16):
  numbers.append(num)

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [56]:
double = []

for num in numbers:
  double.append(numbers[num]*2)

double

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [60]:
a = int(input("number here: "))
if a%2 == 0:
  print("it's even!")
else:
  print("i can't believe it's not even!")

number here: 12897634
it's even!

In [61]:
for num in numbers:
  if numbers[num]%2 == 0:
    print(numbers[num])

0
2
4
6
8
10
12
14